.four-columns-container {
  display: flex;
}

.column {
  flex: 1;
  padding: 20px;
  border: 1px solid #ddd;
  margin: 10px;
}
.column1 {
  flex: 1;
  padding: 20px;
  border: 1px solid #ddd;
  margin: 10px;
}
.column2 {
  flex: 1;
  padding: 20px;
  border: 1px solid #ddd;
  margin: 10px;
}

.column3 {
  flex: 1;
  padding: 20px;
  border: 1px solid #ddd;
  margin: 10px;
}
.column4 {
  flex: 1;
  padding: 20px;
  border: 1px solid #ddd;
  margin: 10px;
}
